<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="aaa9f017-58b5-4286-a2b6-7dff9bddb6f6" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://www.test-insurance.com" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="aaa9f017-58b5-4286-a2b6-7dff9bddb6f6fileName">https%3A%2F%2Fwww.test-insurance.com</con:setting></con:settings><con:definitionCache/><con:endpoints><con:endpoint>https://www.test-insurance.com</con:endpoint></con:endpoints></con:interface>